<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if emp %}
    <h1>Employee Details Available</h1>
    {% else %}
    <h1>Employee Details Not Available</h1>
    {% endif %}
    <div>
        {% for e in emp %}
        <h3>{{e.emp_email}}</h3>
        <h3>{{e.epassword}}</h3>
        <h3>{{e.eaddress}}</h3>
        <h3>{{e.ecity}}</h3>
        <h3>{{e.ezip}}</h3>
        <hr>
        {% endfor %}
    </div>
</body>
</html>